.btn-orange {
  color: white;

  &:hover {
    color: white;
  }
}

.btn {
  border: none;
}

.card-video-button-wrapper {
  border-top: 1px #ff8200 solid;

  .btn {
    // &:first-child {
    //   border-radius: 50px 0 0 50px;
    // }
    width: 49%;
  }
  //
  // .btn-info {
  //   border-radius: 0 50px 50px 0;
  // }
}

#scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 50px 0 0;
  cursor: pointer;
  padding: 12px 34px;
  display: none;
}

.buy-btn-wrapper {
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .buy-btn {
    border-radius: 0;
    font-size: 1rem !important;

    i {
      vertical-align: middle;
    }
  }

  &:after {
    vertical-align: middle;
  }
}
