.btn-orange {
  color: white;

  &:hover {
    color: white;
  }
}

.btn {
  border: none;
}

.card-video-button-wrapper {
  border-top: 1px #ff8200 solid;

  .btn {
    width: 49%;
  }
}

#scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 50px 0 0;
  cursor: pointer;
  padding: 12px 34px;
  display: none;
  z-index: 2;
}

.buy-btn-wrapper {
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .buy-btn {
    border-radius: 0;
    font-size: 1rem !important;

    i {
      vertical-align: middle;
    }
  }

  &:after {
    vertical-align: middle;
  }
}

.add-comment-button {
  border-radius: 0;
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
  transition-timing-function: ease-out;
  transition: 0.2s;

  &:hover{
    transition: 0.2s;
    transition-timing-function: ease-in;
    font-size: 12pt;
  }
}
