.comment {
  margin-top: 5px;

  .comment-by-image {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    box-shadow: 0 0 0.2rem #c6c2c2;
    object-fit: cover;
  }
}

.comments-collapse {
  text-align: justify;

  a {
    font-size: 14pt;

    i {
      transition: 0.2s;
      transition-timing-function: ease-in;
      transform: rotate(360deg);
    }

    &.collapsed {
      i {
        transition: 0.2s;
        transition-timing-function: ease-out;
        transform: rotate(180deg);
        display: inline-block;
      }
    }
  }
}

.comments-collapse .collapse:not(.show) {
  display: block;
  /* height = lineheight * no of lines to display */
  height: 12em;
  overflow: hidden;
}

.comments-collapse .collapsing {
  height: 12em;
}

.comment-dropdowns {
  .dropdown-toggle {
    &::before {
      display: none !important;
    }
  }

  .dropdown-menu {
    a {
      font-size: 10pt;
      padding: 0.5rem;
    }
  }
}


.comment-reply {
  width: 97%;
  margin: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 0px;
  background-color: white;

  &:last-child {
    margin-bottom: 1rem;
  }
}
