  .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    animation-fill-mode: forwards; 
    transform: scale(0.9, 0.7) translateY(-20px);
    display: block; 
    transition: all 80ms ease;
  }


.show > .dropdown-menu {
  transform: scale(1, 1) translateY(0);  
  opacity: 1;
  visibility: visible;
}