*:not(i){
  font-family: 'Trebuchet MS', sans-serif;
}

body{
  background-color: rgb(241, 241, 241);
}

.contain-button-sm{
  min-width: max-content;
}

.btn{
    &:focus{
        box-shadow: none !important;
    }
}

main{
  padding-top:5rem;
}

.spinner-grow{
  display:none;
}
