@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*:not(i){
  font-family: 'Trebuchet MS', sans-serif;
}


.contain-button-sm{
  min-width: max-content;
}

.btn{
    &:focus{
        box-shadow: none !important;
    }
}

main{
  padding-top:5rem;
}

.spinner-grow{
  display:none;
}
