.textarea{
  max-height:500px !important;
  min-height:300px;
}

.video-preview{
  display: none;
}

.image-card{
    .card-img-top{
        img{
            max-height: 150px !important;
            object-fit: contain !important;
        }
    }
}
