@media only screen and (max-width: 991px) {
  .under-construction {
    h1 {
      font-size: 24pt;
    }
  }
}

.under-construction {
  text-shadow: 0 0 0.2rem #dbdbdb;

  i {
    height: 100%;

    &::before {
      vertical-align: sub;
    }
  }

  h1 {
    font-weight: 600 !important;
  }
}
