.cls-1 {
  fill: #139ee9;
}

.cls-2 {
  fill: #002bcf;
}

.cls-3 {
  fill: #ff9d00;
}

.cls-4 {
  fill: #ffec00;
}

.dropdown-menu {
  padding: 0;

  .dropdown-item {
    color: #0084ff !important;

    &:focus {
      background-color: #0084ff !important;
      color: white !important;

      i {
        color: white !important;
      }
    }

    &:active {
      background-color: #0084ff !important;
      color: white !important;
    }
  }
}

.navbar {
  line-height: normal !important;
  @media (max-width: 768px) {
      .navbar-collapse{
        padding-top:20px;
      }
      .dropdown-menu {
        height: 0px !important;

        &.show{
          height:max-content !important;
        }
    }
  }

  .nav-item {
    .nav-link {
      color: #002bcf !important;
      border-radius: 5px;
      transition: 0.2s;
      transition-timing-function: ease-in;
      height: min-content;
      margin-left: 10px;
      padding: 0.7rem !important;

      &:hover {
        transition: 0.3s;
        transition-timing-function: ease-out;
        box-shadow: 0 0 0.2rem #bfbfbf;
        background-color: $blue;
        color: white !important;
      }
    }
  }

  .navbar-brand {
    svg {
      overflow: unset !important;
      height: 55px;

      .logo-piece {
        transform-origin: 16.7% 61%;
        image-rendering: auto !important;
      }

      .logo-piece {
        &.forward-1 {
          animation: spin 20s linear infinite;
          -moz-animation: spin 20s linear infinite;
          -webkit-animation: spin 20s linear infinite;
        }

        &.backward-1 {
          animation: backspin 20s linear infinite;
          -moz-animation: backspin 20s linear infinite;
          -webkit-animation: backspin 20s linear infinite;
        }

        &.forward-2 {
          animation: spin 5s linear infinite;
          -moz-animation: spin 5s linear infinite;
          -webkit-animation: spin 5s linear infinite;
        }

        &.backward-2 {
          animation: backspin 5s linear infinite;
          -moz-animation: backspin 5s linear infinite;
          -webkit-animation: backspin 5s linear infinite;
        }
      }
    }
  }
}

.admin-nav {
  box-shadow: 0 0.3rem 0.25rem rgba(0, 0, 0, .075) !important;
}

.user-avi {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 25%;
  margin-right: 5px;
}
