.navbar {
    .nav-link {
        color: #002bcf !important;

    }

    .dropdown-menu {
        .dropdown-item {
            color: #0084ff !important;
        }
    }

    .navbar-brand {
        padding: 0px;

        img {
            height: 55px;
        }
    }
}

.admin-nav{
    box-shadow: 0 0.3rem .25rem rgba(0,0,0,.075) !important;
}