.dropdown-menu {
  padding: 0;

  .dropdown-item {
    color: #0084ff !important;

    &:focus {
      background-color: #0084ff !important;
      color: white !important;

      i {
        color: white !important;
      }
    }

    &:active {
      background-color: #0084ff !important;
      color: white !important;
    }
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes backspin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes backspin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes backspin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
  }
}


.navbar {
  .nav-link {
    color: #002bcf !important;

  }

  .navbar-brand {
    svg {
      overflow: unset !important;
      height: 55px;

      .logo-piece {
        transform-origin: 16.7% 61%;
        image-rendering: auto !important;
      }

      .logo-piece {
        &.forward-1 {
          animation: spin 20s linear infinite;
          -moz-animation: spin 20s linear infinite;
          -webkit-animation: spin 20s linear infinite;
        }
        &.backward-1 {
          animation: backspin 20s linear infinite;
          -moz-animation: backspin 20s linear infinite;
          -webkit-animation: backspin 20s linear infinite;
        }
        &.forward-2 {
          animation: spin 5s linear infinite;
          -moz-animation: spin 5s linear infinite;
          -webkit-animation: spin 5s linear infinite;
        }
        &.backward-2 {
          animation: backspin 5s linear infinite;
          -moz-animation: backspin 5s linear infinite;
          -webkit-animation: backspin 5s linear infinite;
        }
      }
    }
  }
}

.admin-nav {
  box-shadow: 0 0.3rem .25rem rgba(0, 0, 0, .075) !important;
}
