.profile-post-card {
  margin: 1rem 0;
}

.post-main {
  margin-top: 40px !important;
}

.post-card {
  border: none;
  max-width: 768px;
  margin: auto;

  .card-header {
    .dropdown-menu {
      left: -23px !important;
      transform: translate3d(-110px, 35px, 0px) !important;
    }
  }

  .ck-toolbar {
    border: none !important;
    border-bottom: 1px solid #c1c1c1 !important;
    background-color: white !important;
  }

  .ck-editor__editable {
    border: none !important;
  }
}

.post-by-image {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  box-shadow: 0 0 0.2rem #c6c2c2;
}

.post-title {
  font-size: 14pt;
}

.post-by {
  a {
    text-decoration: none;
  }
}

figure {
  margin: 0.8rem;

  &.image-style-side {
    margin: 0 0.2rem 1rem;
    width: max-content;
    float: right;

    img {
      max-width: 250px !important;
    }
  }

  &.image-style-align-right {
    float: right;

    img {
      max-width: 250px !important;
    }
  }

  &.image-style-align-left {
    float: left;

    img {
      max-width: 250px !important;
    }
  }

  img {
    max-width: 100%;
    margin: auto;
    display: block;
  }
}

.submit-loading {
  display: none;
}

.post-options {
  width: min-content;

  .dropdown-toggle {
    &:after {
      display: none;
    }
  }
}

.post-content {
  p {
    word-break: keep-all;
    text-align: justify;
  }
}

.ck-content {
  text-align: justify !important;
}

.ck-button{
  margin: 0 !important;
  padding: 0 !important;
}

.ck-tooltip {
  display: none !important;
}
