.profile-container {
  min-height: 400px;

  .profile-image-wrapper {
    .profile-image {
      padding: 20px 0 0 10px;

      img {
        border-radius: 100%;
        box-shadow: 0 0 0.2rem #bababa;
        object-fit: fill;
        width: 250px;
      }
    }
  }

  .profile-details-wrapper {
    padding: 20px 0;

    .profile-details {
      .list-group {
        .list-group-item {
          &:first-child {
            font-size: 14pt;
          }
        }
      }
    }
  }
}
