.profile-container {
  border-bottom: $orange 1px solid;

  .profile-image-wrapper {
    .profile-image {
      margin: 30px 0 0;
      width: 350px;
      height: 350px;
      border-radius: 20%;
      box-shadow: 0 0 0.2rem #bababa;
      overflow: hidden;
      height: max-content;

      img{
        width: 100%;
      }
    }

    .file {
      position: relative;
      top: 14px;
      left: 35%;
      overflow: hidden;

      input {
        cursor: pointer;
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 36px;
      }

      img {
        object-fit: fill;
      }
    }
  }

  .profile-details-wrapper {
    padding: 20px 0;

    .profile-details {
      .profile-status {
        margin-left: 5px;
        font-weight: 600;
        font-size: 10pt !important;

        .green-dot {
          margin-right: 5px;
          display: inline-block;
          border-radius: 100%;
          width: 9px;
          height: 9px;
          background-color: #00e61e;
        }
      }

      .list-group {
        .list-group-item {
          &:first-child {
            font-size: 14pt;
          }
        }
      }
    }
  }
}
