#left-sidebar {
  width: 430px;
  // width: max-content;
  padding-top: 8px;
  flex-shrink: 0;
  z-index: 1000;
  position: relative;
  box-shadow: 0 0 0 rgba(12,13,14,0.05);
  transition: box-shadow ease-in-out 0.1s,transform ease-in-out 0.1s;
  margin-right: 6px;
}

.left-sidebar--sticky-container {
  position: -webkit-sticky;
  position: sticky;
  width: auto;
  top: 5rem;
  margin-bottom: 8px;
}

#sidebar {
  // width: max-content;
  width: 430px;
  // max-width: 250px;
  color: #fff;
  transition: all 0.3s;

  a[data-toggle="collapse"] {
    position: relative;
  }

  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
  }

  ul.CTAs {
    padding: 20px;
  }

  ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  // border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  // color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  // background: #6d7fcc;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 992px) {
  #left-sidebar {
    display:none;
    // margin-left: -250px;
  }
  #sidebar {
    width:0px;
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}
