.video-card {
  user-select: none;
  border-radius: 0;
  box-shadow: 0 0.125rem 0.65rem rgba(0, 0, 0, 0.15);
  border-radius: 0;
  border: none !important;
  min-width: 18rem;
  transition: 0.2s;
  transition-timing-function: ease-out;
  iframe {
    width: 100% !important;
  }

  &:hover {
    z-index: 1;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 0 0.125rem 1.05rem rgba(0, 0, 0, 0.35) !important;
    transform: scale(1.05);
  }

  video {
    height: 161px;
  }
}

.modal-body {
  video {
    width: 100%;
  }
}

.admin-video-container {
  flex-wrap: wrap;

  .video-card {
    margin-top: 20px;
  }
}

.card-video-button-wrapper {
  border-top: 1px #ff8200 solid;

  .btn {
    width: 49%;
  }
}
