.video-card {
  user-select: none;
  border-radius: 0;
  box-shadow: 0 0.125rem 0.65rem rgba(0, 0, 0, 0.15);
  border-radius: 0;
  border: none !important;
  min-width: 18rem;
  transition: 0.2s;
  transition-timing-function: ease-out;

  iframe {
    width: 100% !important;
  }

  &:hover {
    z-index: 1;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 0 0.125rem 1.05rem rgba(0, 0, 0, 0.35) !important;
    transform: scale(1.05);
  }

  video {
    height: 161px;
  }
}

.modal-body {
  video {
    width: 100%;
  }
}

.admin-video-container {
  flex-wrap: wrap;

  .video-card {
    margin-top: 20px;
  }
}

.video-info-modal {
  max-width: 900px;

  .modal-content {
    box-shadow: 0 0 5px rgb(50,50,50);
    border: none;
  }
}

.video-container {
  height: 100%;

  .video-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    iframe {
      padding: 15px 15px 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .video-headline {
    .video-title-wrapper {
      .video-title {
        font-size: 20pt;
      }

      .video-views {
        font-size: 16pt;
      }
    }
  }

  .video-description {
    text-align: justify;

    a {
      font-size: 14pt;

      i {
        transition: 0.2s;
        transition-timing-function: ease-in;
        transform: rotate(360deg);
      }

      &.collapsed {
        i {
          transition: 0.2s;
          transition-timing-function: ease-out;
          transform: rotate(180deg);
          display: inline-block;
        }
      }
    }
  }

  .video-description #description-collapse.collapse:not(.show) {
    display: block;
    /* height = lineheight * no of lines to display */
    height: 4.0em;
    overflow: hidden;
  }

  .video-description #description-collapse.collapsing {
    height: 4.5em;
  }
}
